<!DOCTYPE html>
<html lang="nl">
  <%- include('./partials/head') -%>
  <body class="coop">
    <%- include('./partials/header') -%>
    <main>
      <div>
        <ul id="online">
          <li>People online:</li>
          <% users.forEach(user => { %>
            <li>
              <p <%= user.id %>><%= user.username %></p>
            </li>
          <% }) %>
        </ul>
      </div>

      <section class="usernameSection">
        <form name-form>
          <label>What's your name?</label>
          <input type="text" name="username" placeholder="You name" name_input>
          <p>Please join at the same time.</p>
          <button><span>Join</span></button>
        </form>
      </section>

        <section>
          <% const img = data.webImage.url.slice(0,-3)+"=s1000" %>
          <section class="bossfight" id="artDetail">
            <section class="art">
              <img src="<%= img %>" alt="<%= data.title %>" paintItem id="<%= data.id %>" width="100vmin" height="auto"/>
              <h2><%= data.title %> </h2>
            </section>
          </section>
        </section>

        <section id="humanSpawner">
          <% users.forEach(user => { %>
            <div>
              <div id='<%= user.id %>' style="--humanName: '<%= user.username %>';" class="human"></div>
            </div>
          <% }) %>
        </section>

        <img class="rijksBackground" src="/images/background.png">

        <form speakForm>
          <input type="text" speakForm-input autocomplete="off" placeholder="Type to chat..." class="chatStyling"/>
        </form>
    </main>
    <%- include('./partials/footer') -%>
  </body>
</html>
